.input {
  margin: 10px auto 10px;
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(55, 60, 70, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter:  blur(2px);
  box-shadow: rgb(204, 219, 232) 1px 1px 3px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 3px 1px inset;
}

.label {
  display: block;
  color: dimgray;
}

.form {
  padding-left: 15px;
}

.button {
  margin: 15px auto 0;
  display: block;
  background-color: cornflowerblue;
  color: white;
  font-size: 20px;
  padding: 10px 15px 10px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: background-color 300ms ease-out,
      box-shadow 300ms ease-out;
}

.button:hover {
  background-color: rgb(74, 123, 216);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
  